In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from sorted_months_weekdays import *
from sort_dataframeby_monthorweek import *
import chart_studio.plotly as py
import plotly
import plotly.express as px
import plotly.io as pio
import plotly.graph_objects as go
import datetime
from jupyter_dash import JupyterDash
from dash import dcc
from dash import html
from dash.dependencies import Input, Output

In [2]:
data=pd.read_csv('hotel_bookings.csv')
data.head(2)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01

In [3]:
children_mean=data['children'].mean()
data['children']=data['children'].fillna(children_mean)
data['children']=data['children'].astype('int64')

In [4]:
data = Sort_Dataframeby_Month(df=data,monthcolumnname='arrival_date_month')
data

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,109,2016,January,1,1,0,1,2,...,No Deposit,240.0,NaN,0,Transient-Party,59.94,0,1,Check-Out,2016-01-02
1,Resort Hotel,0,109,2016,January,1,1,0,1,2,...,No Deposit,240.0,NaN,0,Transient-Party,116.10,1,1,Check-Out,2016-01-02
2,Resort Hotel,1,2,2016,January,1,1,0,1,2,...,No Deposit,240.0,NaN,0,Transient,89.00,0,1,No-Show,2016-01-01
3,Resort Hotel,0,88,2016,January,1,1,0,2,2,...,No Deposit,241.0,NaN,0,Transient,73.46,0,2,Check-Out,2016-01-03
4,Resort Hotel,1,20,2016,January,1,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,119.00,0,0,Canceled,2015-12-22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,17,2016,December,53,30,2,5,2,...,No Deposit,9.0,NaN,0,Transient,90.34,0,1,Check-Out,2017-01-06
119386,City Hotel,0,177,2016,December,53,30,2,5,0,...,No Deposit,NaN,NaN,0,Transient,1.29,0,2,Check-Out,2017-01-06
119387,City Hotel,0,107,2016,December,53,31,2,5,2,...,No Deposit,28.0,NaN,0,Transient,103.57,0,0,Check-Out,2017-01-07
119388,City Hotel,0,310,2016,December,53,27,2,10,2,...,No Deposit,9.0,NaN,0,Transient-Party,68.57,0,2,Check-Out,2017-01-08
119389,City Hotel,0,310,2016,December,53,27,2,10,2,...,No Deposit,9.0,NaN,0,Transient-Party,68.57,0,2,Check-Out,2017-01-08

In [5]:
data['members']=data['adults']+data['children']+data['babies']
data['total_days']=data['stays_in_weekend_nights']+data['stays_in_week_nights']
data.head(2)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,members,total_days
0,Resort Hotel,0,109,2016,January,1,1,0,1,2,...,NaN,0,Transient-Party,59.94,0,1,Check-Out,2016-01-02,2,1
1,Resort Hotel,0,109,2016,January,1,1,0,1,2,...,NaN,0,Transient-Party,116.10,1,1,Check-Out,2016-01-02,4,1

In [6]:
#Convert object 'reservation_status_date' to datetime
data['reservation_status_date'] =  pd.to_datetime(data['reservation_status_date'], infer_datetime_format=True)

In [7]:
#Create 2 new columns by the 'reservation_status_date' 
data['Year'] = data['reservation_status_date'].map(lambda x: x.year)
data['Month'] = data['reservation_status_date'].map(lambda x:x.month)

In [8]:
data.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,members,total_days,Year,Month
0,Resort Hotel,0,109,2016,January,1,1,0,1,2,...,Transient-Party,59.94,0,1,Check-Out,2016-01-02,2,1,2016,1
1,Resort Hotel,0,109,2016,January,1,1,0,1,2,...,Transient-Party,116.10,1,1,Check-Out,2016-01-02,4,1,2016,1
2,Resort Hotel,1,2,2016,January,1,1,0,1,2,...,Transient,89.00,0,1,No-Show,2016-01-01,2,1,2016,1
3,Resort Hotel,0,88,2016,January,1,1,0,2,2,...,Transient,73.46,0,2,Check-Out,2016-01-03,2,2,2016,1
4,Resort Hotel,1,20,2016,January,1,1,0,2,2,...,Transient,119.00,0,0,Canceled,2015-12-22,4,2,2015,12

In [9]:
country=data[['hotel' , 'country' , 'reservation_status' , 'Year' , 'Month']].copy()
country

               hotel country reservation_status  Year  Month
0       Resort Hotel     RUS          Check-Out  2016      1
1       Resort Hotel     RUS          Check-Out  2016      1
2       Resort Hotel     PRT            No-Show  2016      1
3       Resort Hotel     ARG          Check-Out  2016      1
4       Resort Hotel     PRT           Canceled  2015     12
...              ...     ...                ...   ...    ...
119385    City Hotel     FRA          Check-Out  2017      1
119386    City Hotel     PRT          Check-Out  2017      1
119387    City Hotel     FRA          Check-Out  2017      1
119388    City Hotel     DEU          Check-Out  2017      1
119389    City Hotel     DEU          Check-Out  2017      1

[119390 rows x 5 columns]

In [10]:
#Keep only Canceled and Resort
country_canc1=country[(country['reservation_status']=='Canceled')]
country_canc1

               hotel country reservation_status  Year  Month
4       Resort Hotel     PRT           Canceled  2015     12
5       Resort Hotel     PRT           Canceled  2015     12
7       Resort Hotel     PRT           Canceled  2015     11
8       Resort Hotel     PRT           Canceled  2015     11
9       Resort Hotel     PRT           Canceled  2015     11
...              ...     ...                ...   ...    ...
118007    City Hotel     PRT           Canceled  2016     12
118011    City Hotel     PRT           Canceled  2016      8
118025    City Hotel     PRT           Canceled  2016     12
118052    City Hotel     PRT           Canceled  2016     12
118053    City Hotel     PRT           Canceled  2016     12

[43017 rows x 5 columns]

In [11]:
#Count the cancelations for resort
resort_canc=country_canc1.groupby(['country' , 'hotel' , 'Year' , 'Month']).reservation_status.value_counts().sort_values(ascending=False).reset_index(name='Total Cancelations R')

In [12]:
resort_canc

,country,hotel,Year,Month,reservation_status,Total Cancelations R
0,PRT,City Hotel,2015,10,Canceled,2097
1,PRT,City Hotel,2015,7,Canceled,1804
2,PRT,City Hotel,2016,1,Canceled,1252
3,PRT,City Hotel,2017,1,Canceled,1064
4,PRT,City Hotel,2016,11,Canceled,1002
...,...,...,...,...,...,...
1586,JEY,Resort Hotel,2016,9,Canceled,1
1587,JEY,Resort Hotel,2016,10,Canceled,1
1588,JOR,City Hotel,2016,8,Canceled,1
1589,JPN,City Hotel,2016,9,Canceled,1
1590,ZWE,City Hotel,2017,6,Canceled,1

In [13]:
a=resort_canc.loc[(resort_canc['country'] == 'PRT')|(resort_canc['country'] == 'GBR')|(resort_canc['country'] == 'ESP')|(resort_canc['country'] == 'FRA')|(resort_canc['country'] == 'DEU')]

In [14]:
a

,country,hotel,Year,Month,reservation_status,Total Cancelations R
0,PRT,City Hotel,2015,10,Canceled,2097
1,PRT,City Hotel,2015,7,Canceled,1804
2,PRT,City Hotel,2016,1,Canceled,1252
3,PRT,City Hotel,2017,1,Canceled,1064
4,PRT,City Hotel,2016,11,Canceled,1002
...,...,...,...,...,...,...
1264,GBR,Resort Hotel,2015,9,Canceled,1
1271,FRA,City Hotel,2015,11,Canceled,1
1282,FRA,City Hotel,2015,10,Canceled,1
1283,ESP,Resort Hotel,2016,1,Canceled,1
1295,FRA,City Hotel,2015,8,Canceled,1

In [15]:
a1=a.replace({'country' : { 'PRT' : 'Portugal' , 'GBR':'United Kingdom' , 'DEU':'Germany' , 'FRA':'France' , 'ESP':'Spain'}})
a1

,country,hotel,Year,Month,reservation_status,Total Cancelations R
0,Portugal,City Hotel,2015,10,Canceled,2097
1,Portugal,City Hotel,2015,7,Canceled,1804
2,Portugal,City Hotel,2016,1,Canceled,1252
3,Portugal,City Hotel,2017,1,Canceled,1064
4,Portugal,City Hotel,2016,11,Canceled,1002
...,...,...,...,...,...,...
1264,United Kingdom,Resort Hotel,2015,9,Canceled,1
1271,France,City Hotel,2015,11,Canceled,1
1282,France,City Hotel,2015,10,Canceled,1
1283,Spain,Resort Hotel,2016,1,Canceled,1
1295,France,City Hotel,2015,8,Canceled,1

In [16]:
a1=a1.replace({'Month' : { 1 : 'January' , 2:'February' , 3:'March' , 4:'April' , 5:'May' , 6:'June' ,
                                               7:'July' , 8:'August' , 9:'September' , 10:'October' , 11:'November' , 12:'December'}})
a1

,country,hotel,Year,Month,reservation_status,Total Cancelations R
0,Portugal,City Hotel,2015,October,Canceled,2097
1,Portugal,City Hotel,2015,July,Canceled,1804
2,Portugal,City Hotel,2016,January,Canceled,1252
3,Portugal,City Hotel,2017,January,Canceled,1064
4,Portugal,City Hotel,2016,November,Canceled,1002
...,...,...,...,...,...,...
1264,United Kingdom,Resort Hotel,2015,September,Canceled,1
1271,France,City Hotel,2015,November,Canceled,1
1282,France,City Hotel,2015,October,Canceled,1
1283,Spain,Resort Hotel,2016,January,Canceled,1
1295,France,City Hotel,2015,August,Canceled,1

In [17]:
#pip install geopy

In [18]:
# from geopy.geocoders import Nominatim

In [19]:
# geolocator = Nominatim(user_agent="myApp")

# for i in a1.index:
#     try:
#         #tries fetch address from geopy
#         location = geolocator.geocode(a1['country'][i])
        
#         #append lat/long to column using dataframe location
#         a1.loc[i,'location_lat'] = location.latitude
#         a1.loc[i,'location_long'] = location.longitude
#     except:
#         #catches exception for the case where no value is returned
#         #appends null value to column
#         a1.loc[i,'location_lat'] = ""
#         a1.loc[i,'location_long'] = ""

In [20]:
a1

,country,hotel,Year,Month,reservation_status,Total Cancelations R
0,Portugal,City Hotel,2015,October,Canceled,2097
1,Portugal,City Hotel,2015,July,Canceled,1804
2,Portugal,City Hotel,2016,January,Canceled,1252
3,Portugal,City Hotel,2017,January,Canceled,1064
4,Portugal,City Hotel,2016,November,Canceled,1002
...,...,...,...,...,...,...
1264,United Kingdom,Resort Hotel,2015,September,Canceled,1
1271,France,City Hotel,2015,November,Canceled,1
1282,France,City Hotel,2015,October,Canceled,1
1283,Spain,Resort Hotel,2016,January,Canceled,1
1295,France,City Hotel,2015,August,Canceled,1

In [21]:
#Keep only Canceled and City Hotel
country_canc2=country[(country['reservation_status']=='Canceled')&(country['hotel']=='City Hotel')]

In [22]:
#Count the cancelations for city
city_canc=country_canc2.groupby('country').reservation_status.value_counts().sort_values(ascending=False).head(6).reset_index(name='Total Cancelation C')

In [23]:
resort_canc

,country,hotel,Year,Month,reservation_status,Total Cancelations R
0,PRT,City Hotel,2015,10,Canceled,2097
1,PRT,City Hotel,2015,7,Canceled,1804
2,PRT,City Hotel,2016,1,Canceled,1252
3,PRT,City Hotel,2017,1,Canceled,1064
4,PRT,City Hotel,2016,11,Canceled,1002
...,...,...,...,...,...,...
1586,JEY,Resort Hotel,2016,9,Canceled,1
1587,JEY,Resort Hotel,2016,10,Canceled,1
1588,JOR,City Hotel,2016,8,Canceled,1
1589,JPN,City Hotel,2016,9,Canceled,1
1590,ZWE,City Hotel,2017,6,Canceled,1

In [24]:
city_canc

  country reservation_status  Total Cancelation C
0     PRT           Canceled                19554
1     FRA           Canceled                 1693
2     GBR           Canceled                 1536
3     ESP           Canceled                 1307
4     ITA           Canceled                 1235
5     DEU           Canceled                 1059

In [25]:
#Merge two datasets for having total cancelations for both hotels and nationalities in a dataset
merge_nationality=city_canc.merge(resort_canc , how='inner')
merge_nationality

,country,reservation_status,Total Cancelation C,hotel,Year,Month,Total Cancelations R
0,PRT,Canceled,19554,City Hotel,2015,10,2097
1,PRT,Canceled,19554,City Hotel,2015,7,1804
2,PRT,Canceled,19554,City Hotel,2016,1,1252
3,PRT,Canceled,19554,City Hotel,2017,1,1064
4,PRT,Canceled,19554,City Hotel,2016,11,1002
...,...,...,...,...,...,...,...
282,DEU,Canceled,1059,Resort Hotel,2017,6,3
283,DEU,Canceled,1059,Resort Hotel,2017,7,1
284,DEU,Canceled,1059,Resort Hotel,2017,8,1
285,DEU,Canceled,1059,Resort Hotel,2015,9,1
286,DEU,Canceled,1059,City Hotel,2015,4,1

In [26]:
a2 = a1.loc[(a1.Year == 2015)] 
a2

,country,hotel,Year,Month,reservation_status,Total Cancelations R
0,Portugal,City Hotel,2015,October,Canceled,2097
1,Portugal,City Hotel,2015,July,Canceled,1804
6,Portugal,City Hotel,2015,December,Canceled,972
8,Portugal,City Hotel,2015,January,Canceled,802
9,Portugal,City Hotel,2015,September,Canceled,761
12,Portugal,City Hotel,2015,November,Canceled,701
13,Portugal,City Hotel,2015,August,Canceled,688
21,Portugal,Resort Hotel,2015,November,Canceled,347
24,Portugal,Resort Hotel,2015,June,Canceled,334
26,Portugal,Resort Hotel,2015,July,Canceled,329
28,Portugal,Resort Hotel,2015,December,Canceled,321
32,Portugal,City Hotel,2015,June,Canceled,277
33,Portugal,Resort Hotel,2015,October,Canceled,272
43,Portugal,Resort Hotel,2015,August,Canceled,209
47,Portugal,Resort Hotel,2015,September,Canceled,165
49,Portugal,City Hotel,2015,May,Canceled,155
59,Portugal,Resort Hotel,2015,May,Canceled,116
63,Portugal,Resort Hotel,2015,April,Canceled,108
74,United Kingdom,Resort Hotel,2015,January,Canceled,90
118,Portugal,Resort Hotel,2015,March,Canceled,62
133,Portugal,Resort Hotel,2015,January,Canceled,56
185,Spain,City Hotel,2015,July,Canceled,40
214,Spain,Resort Hotel,2015,August,Canceled,31
227,Spain,Resort Hotel,2015,September,Canceled,28
232,Portugal,City Hotel,2015,April,Canceled,27
237,Spain,City Hotel,2015,October,Canceled,26
252,Portugal,City Hotel,2015,March,Canceled,23
254,Portugal,Resort Hotel,2015,February,Canceled,22
257,Portugal,City Hotel,2015,February,Canceled,22
270,Spain,City Hotel,2015,December,Canceled,21
286,United Kingdom,Resort Hotel,2015,October,Canceled,19
307,France,City Hotel,2015,September,Canceled,18
406,France,City Hotel,2015,December,Canceled,11
420,France,City Hotel,2015,June,Canceled,10
516,Germany,City Hotel,2015,December,Canceled,7
744,United Kingdom,City Hotel,2015,December,Canceled,4
1010,United Kingdom,Resort Hotel,2015,August,Canceled,2
1014,United Kingdom,Resort Hotel,2015,May,Canceled,2
1234,Germany,Resort Hotel,2015,September,Canceled,1
1247,Germany,City Hotel,2015,April,Canceled,1
1258,Spain,Resort Hotel,2015,May,Canceled,1
1263,United Kingdom,City Hotel,2015,May,Canceled,1
1264,United Kingdom,Resort Hotel,2015,September,Canceled,1
1271,France,City Hotel,2015,November,Canceled,1
1282,France,City Hotel,2015,October,Canceled,1
1295,France,City Hotel,2015,August,Canceled,1

In [27]:
external_stylesheets = ['https://codepen.io/chriddyp/pen/bWLwgP.css']

In [28]:
app = JupyterDash(__name__, external_stylesheets=external_stylesheets)
app.layout = html.Div([
    html.Div([
        html.Label(['Total Cancelations']),
        dcc.Dropdown(
            id='my_dropdown',
            options=[
                     {'label': 'Year', 'value': 'Year'},
                     {'label': 'hotel', 'value': 'hotel'},
                     {'label': 'country', 'value': 'country'},
            ],
            value='Year',
            multi=False,
            clearable=False,
            style={"width": "50%"},
            placeholder='Select a variable',
           ),
    ]),
        
    html.H1(children='Total Cancelations' ,
            style={
                'textAlign':'center' ,
                'color':'#456FBV'
            }
           ),
            
            
    html.Div([
        dcc.Graph(id='the_graph')
    ]),

])

@app.callback(
    Output(component_id='the_graph', component_property='figure'),
    [Input(component_id='my_dropdown', component_property='value')]
)

def update_graph(my_dropdown):
    dff = a1

    piechart=px.pie(
            data_frame=dff,
            names=my_dropdown,
            hole=.3,
            values='Total Cancelations R'
            )

    return (piechart)


# if __name__ == '__main__':
#     app.run_server(debug=True)

In [29]:
#https://www.youtube.com/watch?v=TsYwhX0hEA8&t=484s

In [30]:
import dash_html_components as html
app = JupyterDash(__name__, external_stylesheets=external_stylesheets)
app.layout = html.Div((
    
    html.Div([
        html.Div([
            html.Div([
                html.H3('Cancellations', style={'margin-bottom':'8px' , 'color':'black'}),
                html.H5('2015-2017',     style={'margin-top':'10px' , 'color':'black'}),
            ]),
        ], className='six column' , id='title')
             
    ], id='header' , className='row flex-display' , style={'margin=bottom':'25px'}),
        
        
    html.Div([
        html.Div([
            html.P('Select Year:' , className='fix_label' , style={'color':'black'}),
            dcc.RangeSlider(id='Years' ,
                            min=2015 ,
                            max=2017 ,
                            dots=True ,
                            value=[2015,2017] , 
                            marks={str(year):str(year) for year in range(2015,2018,1)}),
        ],className='Create_container twelve columns' , style={'width':'98%' , 'margin-left':'1%'}),
        
    ],className='row flex-display'),
        
    
    html.Div([
        html.Div([
            html.P('Select Nationality:' , className='fix_label' , style={'color':'black'}),
            dcc.Dropdown(id='w_countries',
                         multi=False,
                         clearable=True,
                         disabled=False,
                         style={'display':True},
                         value='Portugal',
                         placeholder='Select Nationality',
                         options=[{'label':c , 'value':c}
                                  for c in a1['country'].unique() ],
                         className='dcc-compon')
            
        ],className='Create_container three columns'),
        
#         html.Div([
#             dcc.Graph(id='bar_line_1',
#                       config={'DisplayModeBar':'hover'}),
            
#         ],className='Create_container six columns'),
        
#          html.Div([
#             dcc.Graph(id='bie',
#                       config={'DisplayModeBar':'hover'}),
            
#         ],className='Create_container three columns'),
        
    ],className='row flex-display'),
    
    html.Div([
        html.Div([
            html.P('Select Hotel Type:' , className='fix_label' , style={'color':'blue'}),
            dcc.RadioItems(
                    options=[
                            {'label': 'City Hotel', 'value': 'NYC'},
                       
                            {'label': 'Resort Hotel','value': 'SF'}
                                    ],
                                    value='NYC',
                                    id='Type',
                                    labelStyle={'display': 'inline-block'}
                                )
            
        ],className='Create_container three columns'),
        
        html.Div([
            dcc.Graph(id='bar_line_1'
                   ),
            
        ],className='Create_container six columns'),
        
         html.Div([
            dcc.Graph(id='bie'
                  ),
            
        ],className='Create_container three columns'),
        
    ],className='row flex-display'),    
        
    #Create scattermapbox
        
    html.Div([
        html.Div([
            dcc.Graph(id='map_1'),
            
        ],className='Create_container 12 columns'),
        
    ],className='row flex-display'),

        
),id='mainContainer' , style={'display':'flex' , 'flex-direction':'column'})
        

# if __name__ == '__main__':
#     app.run_server(debug=True)

C:\Users\spana\anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning:
The dash_html_components package is deprecated. Please replace
`import dash_html_components as html` with `from dash import html`
  """Entry point for launching an IPython kernel.

In [31]:
import dash_html_components as html
app = JupyterDash(__name__, external_stylesheets=external_stylesheets)
app.layout = html.Div((
    
    html.Div([
        html.Div([
            html.Div([
                html.H3('Hotel Revenue Managment Dashboard', style={'margin-bottom':'8px' , 'color':'black'}),
                #html.H5('2015-2017',     style={'margin-top':'10px' , 'color':'black'}),
            ]),
        ], className='six column' , id='title')
             
    ], id='header' , className='row flex-display' , style={'margin=bottom':'25px'}),
        
        
#     html.Div([
#         html.Div([
#             html.P('Select Year:' , className='fix_label' , style={'color':'black'}),
#             dcc.RangeSlider(id='w_years' ,
#                             min=2015 ,
#                             max=2017 ,
#                             dots=True ,
#                             value=[2015,2016,2017] , 
#                             marks={str(year):str(year) for year in range(2015,2018,1)})
                           
#         ],className='Create_container twelve columns' , style={'width':'98%' , 'margin-left':'1%'}),
        
#     ],className='row flex-display'),
        
    html.P("Select Year:"),
    dcc.Dropdown(
        id='w_years', 
        value='2015', 
        options=[{'value': x, 'label': x} 
                 for x in ['2015', '2016', '2017']],
        clearable=False
    ),
    
#     html.Div([
#         html.Div([
            html.P('Select Nationality:' , className='fix_label' , style={'color':'black'}),
            dcc.Dropdown(id='w_countries',
                         multi=False,
                         clearable=True,
                         disabled=False,
                         style={'display':True},
                         value='Portugal',
                         placeholder='Select Nationality',
                         options=[{'label':c , 'value':c}
                                  for c in a1['country'].unique() ],
                       
                           
),
            
#         ],className='Create_container three columns'),
        
#         html.Div([
#             dcc.Graph(id='bar_line_1',
#                       config={'DisplayModeBar':'hover'}),
            
#         ],className='Create_container six columns'),
        
#          html.Div([
#             dcc.Graph(id='bie',
#                       config={'DisplayModeBar':'hover'}),
            
#         ],className='Create_container three columns'),
        
#     ],className='row flex-display'),
    
    html.Div([
        html.Div([
            html.P('Select Hotel Type:' , className='fix_label' , style={'color':'blue'}),
            dcc.RadioItems(
                    options=[
                            {'label': 'City Hotel', 'value': 'City Hotel'},
                       
                            {'label': 'Resort Hotel','value': 'Resort Hotel'} , 
                        {'label': 'All', 'value': 'All'},
                        
                                    ],
                                    
                            id='w_hoteltype' , 
                                                     value='City Hotel',

                                    labelStyle={'display': 'inline-block'}
                                )
            
        ],className='Create_container three columns'),
        ],className='row flex-display'),    
        
         
        
#          html.Div([
#             dcc.Graph(id='bie'
#                   ),
            
#         ],className='Create_container three columns'),
        

        
    #Create scattermapbox
        
#     html.Div([
#         html.Div([
            dcc.Graph(id='pie-chart'),
            
#         ]),
        
#     ],className='row flex-display'),

        
),id='mainContainer' , style={'display':'flex' , 'flex-direction':'column'})





# @app.callback(
#     Output(component_id='the_graph', component_property='figure'),
#     [Input(component_id='w_years', component_property='value')],
# #     [Input(component_id='w_hoteltype', component_property='value')],
#     [Input(component_id='w_countries', component_property='value')]
# )

# def update_graph(w_years,w_countries):
#     dff = a1

#     piechart=px.pie(
#             data_frame=dff,
#             names=my_dropdown,
#             hole=.3,
#             values='Total Cancelations R'
#             )

#     return (piechart)

@app.callback(
    Output('pie-chart', 'figure'), 
    [Input('w_hoteltype', 'value')], 
    [Input('w_years', 'value')])

def generate_chart(w_hoteltype,w_years):
#     print(w_hoteltype)
#     print(w_years)
    if w_hoteltype=='All':
        cancelations = a1[(a1['Year'] == int(w_years))]
    else:
        cancelations = a1[(a1['Year'] == int(w_years))  & (a1['hotel'] == w_hoteltype)] 


    fig = px.pie(cancelations, values='Total Cancelations R', names='country')
    return fig



# if __name__ == '__main__':
#     app.run_server(debug=True)

In [32]:
count_market=data[['hotel' , 'country' , 'market_segment' , 'Year' , 'Month' , 'reservation_status']].copy()
count_market1=count_market.groupby(['hotel' , 'Year' , 'market_segment' , 'country' , 'Month' , 'reservation_status']).market_segment.count().sort_values().reset_index(name='count_market')
count_adr=data[['hotel' , 'country' , 'market_segment' , 'Year' ,]].copy()
count_adr1=count_adr.groupby(['hotel' , 'Year' , 'market_segment']).market_segment.count().reset_index(name='count_adr')
count_market1.head()

,hotel,Year,market_segment,country,Month,reservation_status,count_market
0,Resort Hotel,2017,Online TA,ZWE,2,Check-Out,1
1,City Hotel,2016,Online TA,IRL,8,No-Show,1
2,Resort Hotel,2016,Direct,AUS,10,Check-Out,1
3,City Hotel,2016,Online TA,IRL,9,No-Show,1
4,Resort Hotel,2016,Direct,AUS,8,Check-Out,1

In [33]:
import dash_html_components as html
import dash_bootstrap_components as dbc
app = JupyterDash(__name__, external_stylesheets=[dbc.themes.CYBORG])
app.layout = html.Div((
    
#     html.Div([
#         html.Div([
#             html.Div([
#                 html.H3('Hotel Revenue Managment Dashboard', style={'margin-bottom':'8px' , 'color':'black'}),
#                 #html.H5('2015-2017',     style={'margin-top':'10px' , 'color':'black'}),
#             ]),
#         ], className='six column' , id='title')
             
#     ], id='header' , className='row flex-display' , style={'margin=bottom':'25px'}),
     dbc.Row([
        dbc.Col(html.H3("Hotel Revenue Managment Dashboard"),
                        width={'size': 6, 'offset': 3},
                        )]),
    
#      dbc.Row([           
#         dbc.Col(html.P("Select Year"),
#                         width={'size': 5, 'offset': 0},
#                         ),
        
#         dbc.Col(html.P("Select Nationality"),
#                         width={'size': 5, 'offset': 0},
#                         ),
#                 ]),        
     
        
        
#     html.Div([
#         html.Div([
#             html.P('Select Year:' , className='fix_label' , style={'color':'black'}),
#             dcc.RangeSlider(id='w_years' ,
#                             min=2015 ,
#                             max=2017 ,
#                             dots=True ,
#                             value=[2015,2016,2017] , 
#                             marks={str(year):str(year) for year in range(2015,2018,1)})
                           
#         ],className='Create_container twelve columns' , style={'width':'98%' , 'margin-left':'1%'}),
        
#     ],className='row flex-display'),
#     dbc.Row([
#         dbc.Col(html.P('Select Year') , width={'size': 6, "offset": 0})]),
    
    
    dbc.Row([    
#      html.P("Select Year:"),
    dbc.Col(dcc.Dropdown(
        id='w_years', 
        value='2015', 
        options=[{'value': x, 'label': x} 
                 for x in ['2015', '2016', '2017']],
        clearable=False
    ),width={'size': 6, "offset": 0, 'order': 1}),
    
#     html.Div([
#         html.Div([
    
            html.P('Select Nationality:' , className='fix_label' , style={'color':'black'}),
            dbc.Col(dcc.Dropdown(id='w_countries',
                         multi=True,
                         clearable=True,
                         disabled=False,
                         style={'display':True},
                         value=['PRT'],
                         placeholder='Select Nationality',
                         options=[{'label':c , 'value':c}
                                  for c in count_market1['country'].unique() ],
                       
                           
),width={'size': 6, "offset": 0, 'order':2 })]),
            
#         ],className='Create_container three columns'),
        
#         html.Div([
#             dcc.Graph(id='bar_line_1',
#                       config={'DisplayModeBar':'hover'}),
            
#         ],className='Create_container six columns'),
        
#          html.Div([
#             dcc.Graph(id='bie',
#                       config={'DisplayModeBar':'hover'}),
            
#         ],className='Create_container three columns'),
        
#     ],className='row flex-display'),
    
#     html.Div([
#         html.Div([
            html.P('Select Hotel Type:' , className='fix_label' , style={'color':'blue'}),
            dcc.RadioItems(
                    options=[
                            {'label': 'City Hotel', 'value': 'City Hotel'},
                       
                            {'label': 'Resort Hotel','value': 'Resort Hotel'} , 
                        {'label': 'All', 'value': 'All'},
                        
                                    ],
                                    
                            id='w_hoteltype' , 
                                                     value='City Hotel',

                                    labelStyle={'display': 'inline-block'}
                                ),
    
         
#         ],className='Create_container three columns'),
#         ],className='row flex-display'),    
        
         
        
#          html.Div([
#             dcc.Graph(id='bie'
#                   ),
            
#         ],className='Create_container three columns'),
        

        
    #Create scattermapbox
     dbc.Row([
        dbc.Col(html.H3("Cancellations" , style={'font-size': '25px' , 'text-decoration': 'underline'}),
                        width={'size': 6, 'offset': 0 },
                        ),
        dbc.Col(html.H3("Market Segment" , style={'font-size': '25px' , 'text-decoration': 'underline'}),
                  width={'size':6 , 'offset': 0})
        ]),
#                ),
#         dbc.Row(dbc.Col(html.H3("Cancellations"),
#                         width={'size': 6, 'offset': 2},
#                         ))]) 
         
    
     dbc.Row([
        dbc.Col(dcc.Graph(id='pie-chart') , width=6 , xs={'size':6}),
         
        dbc.Col(dcc.Graph(id='bar' , config={'scrollZoom':True , 'doubleClick':'reset',
                                            'displayModeBar':False , 'watermark':True }) , width=6 , xs={'size':6} )
                    
            
        ]),
    
    dbc.Row([
        dbc.Col(dcc.Graph() , width=8 , lg={'size':12})])
        
#     ],className='Create_container four columns'),

        
),id='mainContainer' , style={'display':'flex' , 'flex-direction':'column'})





# @app.callback(
#     Output(component_id='the_graph', component_property='figure'),
#     [Input(component_id='w_years', component_property='value')],
# #     [Input(component_id='w_hoteltype', component_property='value')],
#     [Input(component_id='w_countries', component_property='value')]
# )

# def update_graph(w_years,w_countries):
#     dff = a1

#     piechart=px.pie(
#             data_frame=dff,
#             names=my_dropdown,
#             hole=.3,
#             values='Total Cancelations R'
#             )

#     return (piechart)

@app.callback(
    Output('pie-chart', 'figure'), 
    [Input('w_hoteltype', 'value')], 
    [Input('w_years', 'value')])

def generate_chart(w_hoteltype,w_years):
#     print(w_hoteltype)
#     print(w_years)
    if w_hoteltype=='All':
        cancelations = a1[(a1['Year'] == int(w_years))]
    else:
        cancelations = a1[(a1['Year'] == int(w_years))  & (a1['hotel'] == w_hoteltype)] 


    fig = px.pie(cancelations, values='Total Cancelations R', names='country' , template="plotly_dark" ,
                color='country' ,
                color_discrete_map={
                "France": "#0d3172",
                "Portugal": "#5f9ea0",
                "United Kingdom": "#a8a8a8",
                "Germany":"#5f91ec",
                "Spain": "#d1dffa"})
               
    return fig

@app.callback(
    Output('bar', 'figure'),
    [Input('w_hoteltype', 'value')],
    [Input('w_countries', 'value')], 
    [Input('w_years', 'value')])


def generate_bar_chart(w_hoteltype,w_countries ,w_years):
    #a2=a1[(a1['country']==w_countries) & (a1['Year']==int(w_years))]
    print(w_countries)
    if w_hoteltype=='All':
        a2 = count_market1[(count_market1['Year'] == int(w_years)) & (count_market1['country'].isin(w_countries)) ]
        print(a2)
    else:
        a2 = count_market1[(count_market1['Year'] == int(w_years))  & (count_market1['hotel'] == w_hoteltype)  & (count_market1['country'].isin(w_countries))] 
    
#     barchart=px.bar(
#         a2 ,
#         x=a2['market_segment'] , 
#         y=a2['count_market','country'] ,
#         template="plotly_dark",
#         color='market_segment' , 
#         color_discrete_map={
#                 "Complementary": "#0d3172",
#                 "Corporate": "#d1dffa",
#                 "Direct": "#a8a8a8",
#                 "Groups":"#5f91ec",
#                 "Offline TA/TO": "#5f9ea0" ,
#                 "Online TA": "#00D" ,
#                 "Aviation":"#00cccc"})
        
    barchart=px.scatter(a2, x=a2['market_segment'], y=a2['count_market'] , color='country')
                
    return barchart
        





# if __name__ == '__main__':
#     app.run_server(debug=True , port=8051)

In [34]:
import dash_html_components as html
import dash_bootstrap_components as dbc
app = JupyterDash(__name__, external_stylesheets=[dbc.themes.CYBORG])
app.layout = html.Div((
    
#     html.Div([
#         html.Div([
#             html.Div([
#                 html.H3('Hotel Revenue Managment Dashboard', style={'margin-bottom':'8px' , 'color':'black'}),
#                 #html.H5('2015-2017',     style={'margin-top':'10px' , 'color':'black'}),
#             ]),
#         ], className='six column' , id='title')
             
#     ], id='header' , className='row flex-display' , style={'margin=bottom':'25px'}),
     dbc.Row([
        dbc.Col(html.H3("Hotel Revenue Managment Dashboard"),
                        width={'size': 6, 'offset': 3},
                        )]),
    
#      dbc.Row([           
#         dbc.Col(html.P("Select Year"),
#                         width={'size': 5, 'offset': 0},
#                         ),
        
#         dbc.Col(html.P("Select Nationality"),
#                         width={'size': 5, 'offset': 0},
#                         ),
#                 ]),        
     
        
        
#     html.Div([
#         html.Div([
#             html.P('Select Year:' , className='fix_label' , style={'color':'black'}),
#             dcc.RangeSlider(id='w_years' ,
#                             min=2015 ,
#                             max=2017 ,
#                             dots=True ,
#                             value=[2015,2016,2017] , 
#                             marks={str(year):str(year) for year in range(2015,2018,1)})
                           
#         ],className='Create_container twelve columns' , style={'width':'98%' , 'margin-left':'1%'}),
        
#     ],className='row flex-display'),
#     dbc.Row([
#         dbc.Col(html.P('Select Year') , width={'size': 6, "offset": 0})]),
    
    
    dbc.Row([    
#      html.P("Select Year:"),
    dbc.Col(dcc.Dropdown(
        id='w_years', 
        value='2015', 
        options=[{'value': x, 'label': x} 
                 for x in ['2015', '2016', '2017']],
        clearable=False
    ),width={'size': 6, "offset": 0, 'order': 1}),
    
#     html.Div([
#         html.Div([
    
            html.P('Select Nationality:' , className='fix_label' , style={'color':'black'}),
            dbc.Col(dcc.Dropdown(id='w_countries',
                         multi=True,
                         clearable=True,
                         disabled=False,
                         style={'display':True},
                         value=['PRT'],
                         placeholder='Select Nationality',
                         options=[{'label':c , 'value':c}
                                  for c in count_market1['country'].unique() ],
                       
                           
),width={'size': 6, "offset": 0, 'order':2 })]),
            
#         ],className='Create_container three columns'),
        
#         html.Div([
#             dcc.Graph(id='bar_line_1',
#                       config={'DisplayModeBar':'hover'}),
            
#         ],className='Create_container six columns'),
        
#          html.Div([
#             dcc.Graph(id='bie',
#                       config={'DisplayModeBar':'hover'}),
            
#         ],className='Create_container three columns'),
        
#     ],className='row flex-display'),
    
#     html.Div([
#         html.Div([
    dbc.Row([
     
    dbc.Col(
            dcc.RadioItems(#html.P('Select Hotel Type:', className='fix_label' , style={'color':'blue'}), 
                    options=[
                            {'label': 'City Hotel', 'value': 'City Hotel'},
                       
                            {'label': 'Resort Hotel','value': 'Resort Hotel'} , 
                        {'label': 'All', 'value': 'All'},
                        
                                    ],
                                    
                            id='w_hoteltype' , 
                                                     value='City Hotel',

                                    labelStyle={'display': 'inline-block'}),
                                width={'size': 6, "offset": 0}),
        
   
    dbc.Col(dcc.Dropdown( #html.P('Select Month:' , className='fix_label' , style={'color':'blue'}),
    id='w_month', 
    value='1', 
    options=[{'value': x, 'label': x} 
                for x in count_market1['Month'].unique()],
             clearable=False
    ),width={'size': 6, "offset": 0})]),
         
    
         
#         ],className='Create_container three columns'),
#         ],className='row flex-display'),    
        
         
        
#          html.Div([
#             dcc.Graph(id='bie'
#                   ),
            
#         ],className='Create_container three columns'),
        

        
    #Create scattermapbox
     dbc.Row([
        dbc.Col(html.H3("Cancellations" , style={'font-size': '25px' , 'text-decoration': 'underline'}),
                        width={'size': 6, 'offset': 0 },
                        ),
        dbc.Col(html.H3("Market Segment" , style={'font-size': '25px' , 'text-decoration': 'underline'}),
                  width={'size':6 , 'offset': 0})
        ]),
#                ),
#         dbc.Row(dbc.Col(html.H3("Cancellations"),
#                         width={'size': 6, 'offset': 2},
#                         ))]) 
         
    
     dbc.Row([
        dbc.Col(dcc.Graph(id='pie-chart') , width=6 , xs={'size':6}),
         
        dbc.Col(dcc.Graph(id='bar' , config={'scrollZoom':True , 'doubleClick':'reset',
                                            'displayModeBar':False , 'watermark':True }) , width=6 , xs={'size':6} )
                    
            
        ]),
    
    dbc.Row([
        dbc.Col(dcc.Graph() , width=8 , lg={'size':12})])
        
#     ],className='Create_container four columns'),

        
),id='mainContainer' , style={'display':'flex' , 'flex-direction':'column'})





# @app.callback(
#     Output(component_id='the_graph', component_property='figure'),
#     [Input(component_id='w_years', component_property='value')],
# #     [Input(component_id='w_hoteltype', component_property='value')],
#     [Input(component_id='w_countries', component_property='value')]
# )

# def update_graph(w_years,w_countries):
#     dff = a1

#     piechart=px.pie(
#             data_frame=dff,
#             names=my_dropdown,
#             hole=.3,
#             values='Total Cancelations R'
#             )

#     return (piechart)

@app.callback(
    Output('pie-chart', 'figure'), 
    [Input('w_hoteltype', 'value')], 
    [Input('w_years', 'value')])

def generate_chart(w_hoteltype,w_years):
#     print(w_hoteltype)
#     print(w_years)
    if w_hoteltype=='All':
        cancelations = a1[(a1['Year'] == int(w_years))]
    else:
        cancelations = a1[(a1['Year'] == int(w_years))  & (a1['hotel'] == w_hoteltype)] 


    fig = px.pie(cancelations, values='Total Cancelations R', names='country' , template="plotly_dark" ,
                color='country' ,
                color_discrete_map={
                "France": "#0d3172",
                "Portugal": "#5f9ea0",
                "United Kingdom": "#a8a8a8",
                "Germany":"#5f91ec",
                "Spain": "#d1dffa"})
               
    return fig

@app.callback(
    Output('bar', 'figure'),
    [Input('w_hoteltype', 'value')],
    [Input('w_countries', 'value')], 
    [Input('w_years', 'value')],
    [Input('w_month' , 'value')])


def generate_bar_chart(w_hoteltype,w_countries ,w_years , w_month):
    #a2=a1[(a1['country']==w_countries) & (a1['Year']==int(w_years))]
    print(w_countries)
    if w_hoteltype=='All':
        a2 = count_market1[(count_market1['Year'] == int(w_years)) & (count_market1['country'].isin(w_countries))  & (count_market1['Month'] ==int( w_month)) ]
        print(a2)
    else:
        a2 = count_market1[(count_market1['Year'] == int(w_years))  & (count_market1['hotel'] == w_hoteltype)  & (count_market1['country'].isin(w_countries))  & (count_market1['Month'] == int(w_month))] 
    
#     barchart=px.bar(
#         a2 ,
#         x=a2['market_segment'] , 
#         y=a2['count_market','country'] ,
#         template="plotly_dark",
#         color='market_segment' , 
#         color_discrete_map={
#                 "Complementary": "#0d3172",
#                 "Corporate": "#d1dffa",
#                 "Direct": "#a8a8a8",
#                 "Groups":"#5f91ec",
#                 "Offline TA/TO": "#5f9ea0" ,
#                 "Online TA": "#00D" ,
#                 "Aviation":"#00cccc"})
        
    barchart=px.scatter(a2, x=a2['market_segment'], y=a2['count_market'] , color='country')
                
    return barchart
        





# if __name__ == '__main__':
#     app.run_server(debug=True , port=8051)

In [35]:
count_reserv=data[['hotel' , 'country' , 'reservation_status' , 'Year' , 'Month']].copy()
#count_reserv1=count_reserv.loc[count_reserv['reservation_status']=='Check-Out']
count_reserv1=count_reserv.groupby(['hotel' , 'Year' , 'country' , 'Month' , 'reservation_status']).reservation_status.count().sort_values().reset_index(name='count_reserv')
count_reserv1=count_reserv1.dropna()
datacountry=pd.read_csv('country_codes.csv' , sep=',', encoding='latin-1')
datacountry.rename(columns = {'Alpha-3 code':'country'}, inplace = True)
count_reserv1['Country'] = count_reserv1['country'].map(datacountry.set_index('country')['Country']) 
count_reserv1
count_market1=count_market1.replace({'Month' : { 1 : 'January' , 2:'February' , 3:'March' , 4:'April' , 5:'May' , 6:'June' ,
                                               7:'July' , 8:'August' , 9:'September' , 10:'October' , 11:'November' , 12:'December'}})
count_reserv1=count_reserv1.replace({'Month' : { 1 : 'January' , 2:'February' , 3:'March' , 4:'April' , 5:'May' , 6:'June' ,
                                               7:'July' , 8:'August' , 9:'September' , 10:'October' , 11:'November' , 12:'December'}})
count_market1.head()

datacountry=pd.read_csv('country_codes.csv' , sep=',', encoding='latin-1')
datacountry.rename(columns = {'Alpha-3 code':'country'}, inplace = True)
count_market1['country'] = count_market1['country'].map(datacountry.set_index('country')['Country']) 
count_market1=count_market1.dropna()
count_market1.head()

,hotel,Year,market_segment,country,Month,reservation_status,count_market
0,Resort Hotel,2017,Online TA,Zimbabwe,February,Check-Out,1
1,City Hotel,2016,Online TA,Ireland,August,No-Show,1
2,Resort Hotel,2016,Direct,Australia,October,Check-Out,1
3,City Hotel,2016,Online TA,Ireland,September,No-Show,1
4,Resort Hotel,2016,Direct,Australia,August,Check-Out,1

In [36]:
count_reserv1

,hotel,Year,country,Month,reservation_status,count_reserv,Country
0,Resort Hotel,2017,ZWE,February,Check-Out,1,Zimbabwe
1,Resort Hotel,2015,ESP,May,Canceled,1,Spain
2,City Hotel,2016,MAC,November,Canceled,1,Macao
3,City Hotel,2016,LVA,December,Check-Out,1,Latvia
4,City Hotel,2016,LVA,September,Check-Out,1,Latvia
...,...,...,...,...,...,...,...
4435,City Hotel,2016,PRT,November,Canceled,1002,Portugal
4436,City Hotel,2017,PRT,January,Canceled,1064,Portugal
4437,City Hotel,2016,PRT,January,Canceled,1252,Portugal
4438,City Hotel,2015,PRT,July,Canceled,1804,Portugal
4439,City Hotel,2015,PRT,October,Canceled,2097,Portugal

In [37]:
# geolocator1 = Nominatim(user_agent="myApp")

# for i in count_reserv1.index:
#     try:
#         #tries fetch address from geopy
#         location = geolocator1.geocode(count_reserv1['country'][i])

#         #append lat/long to column using dataframe location
#         count_reserv1.loc[i,'location_lat'] = location.latitude
#         count_reserv1.loc[i,'location_long'] = location.longitude
#     except:
#         #catches exception for the case where no value is returned
#         #appends null value to column
#         count_reserv1.loc[i,'location_lat'] = ""
#         count_reserv1.loc[i,'location_long'] = ""

In [38]:
count_reserv1.head()

,hotel,Year,country,Month,reservation_status,count_reserv,Country
0,Resort Hotel,2017,ZWE,February,Check-Out,1,Zimbabwe
1,Resort Hotel,2015,ESP,May,Canceled,1,Spain
2,City Hotel,2016,MAC,November,Canceled,1,Macao
3,City Hotel,2016,LVA,December,Check-Out,1,Latvia
4,City Hotel,2016,LVA,September,Check-Out,1,Latvia

In [39]:

month =  { 1 : 'January' , 2:'February' , 3:'March' , 4:'April' , 5:'May' , 6:'June' ,
                                               7:'July' , 8:'August' , 9:'September' , 10:'October' , 11:'November' , 12:'December'}

for value in month.values():
    print (value)

January
February
March
April
May
June
July
August
September
October
November
December

In [40]:
from dash_extensions import Lottie

# CARDS

In [41]:
noshow=data[['hotel' , 'reservation_status' , 'Year' , 'Month']].copy()
noshow = noshow.loc[(noshow.reservation_status == 'No-Show')]

In [42]:
noshow=noshow.replace({'Month' : { 1 : 'January' , 2:'February' , 3:'March' , 4:'April' , 5:'May' , 6:'June' ,
                                               7:'July' , 8:'August' , 9:'September' , 10:'October' , 11:'November' , 12:'December'}})

In [43]:
canceled=data[['hotel' , 'reservation_status' , 'Year' , 'Month']].copy()
canceled = canceled.loc[(canceled.reservation_status == 'Canceled')]

In [44]:
canceled=canceled.replace({'Month' : { 1 : 'January' , 2:'February' , 3:'March' , 4:'April' , 5:'May' , 6:'June' ,
                                               7:'July' , 8:'August' , 9:'September' , 10:'October' , 11:'November' , 12:'December'}})

In [45]:
checkout=data[['hotel' , 'reservation_status' , 'Year' , 'Month']].copy()
checkout = checkout.loc[(checkout.reservation_status == 'Check-Out')]

In [46]:
checkout=checkout.replace({'Month' : { 1 : 'January' , 2:'February' , 3:'March' , 4:'April' , 5:'May' , 6:'June' ,
                                               7:'July' , 8:'August' , 9:'September' , 10:'October' , 11:'November' , 12:'December'}})

In [47]:
reservations=data[['hotel' , 'reservation_status' , 'Year' , 'Month']].copy()
reservations = reservations.loc[(reservations.reservation_status == 'Check-Out')|(reservations.reservation_status == 'Canceled')|(reservations.reservation_status == 'No-Show')]
reservations=reservations.replace({'Month' : { 1 : 'January' , 2:'February' , 3:'March' , 4:'April' , 5:'May' , 6:'June' ,
                                               7:'July' , 8:'August' , 9:'September' , 10:'October' , 11:'November' , 12:'December'}})

In [48]:
adr=data[['hotel' , 'Year' , 'Month' , 'adr' , 'market_segment' , 'reservation_status']].copy()
adr=adr.replace({'Month' : { 1 : 'January' , 2:'February' , 3:'March' , 4:'April' , 5:'May' , 6:'June' ,
                                               7:'July' , 8:'August' , 9:'September' , 10:'October' , 11:'November' , 12:'December'}})
adr=adr.loc[adr['reservation_status']=='Check-Out']
adr_new=adr[['hotel' , 'Year' , 'Month' , 'adr' , 'market_segment']]
adr_new=adr_new.sort_values('adr')
adr_new=adr_new.groupby(['hotel' , 'Year' , 'Month' , 'market_segment']).adr.sum().reset_index(name='totaladr')
adr_new

            hotel  Year      Month market_segment  totaladr
0      City Hotel  2015     August  Complementary      0.00
1      City Hotel  2015     August      Corporate   3258.00
2      City Hotel  2015     August         Direct  17430.85
3      City Hotel  2015     August         Groups  16878.20
4      City Hotel  2015     August  Offline TA/TO  14958.41
..            ...   ...        ...            ...       ...
328  Resort Hotel  2017        May      Online TA  50283.32
329  Resort Hotel  2017  September  Complementary      0.00
330  Resort Hotel  2017  September         Direct   6141.94
331  Resort Hotel  2017  September  Offline TA/TO   8650.17
332  Resort Hotel  2017  September      Online TA  14290.09

[333 rows x 5 columns]

In [49]:
url_coonections='https://assets1.lottiefiles.com/packages/lf20_5ohCYt.json'
url_reservations='https://assets9.lottiefiles.com/packages/lf20_ovhnyvxu.json'
url_canceled='https://assets10.lottiefiles.com/packages/lf20_mLtaRR.json'
url_noshow='https://assets8.lottiefiles.com/packages/lf20_L8eE99.json'
options = dict(loop=True, autoplay=True, rendererSettings=dict(preserveAspectRatio='xMidYMid slice'))

import dash_html_components as html
import dash_bootstrap_components as dbc
import plotly.express as px
app = JupyterDash(__name__, external_stylesheets=[dbc.themes.FLATLY])
app.layout = html.Div((
    
#     html.Div([
#         html.Div([
#             html.Div([
#                 html.H3('Hotel Revenue Managment Dashboard', style={'margin-bottom':'8px' , 'color':'black'}),
#                 #html.H5('2015-2017',     style={'margin-top':'10px' , 'color':'black'}),
#             ]),
#         ], className='six column' , id='title')
             
#     ], id='header' , className='row flex-display' , style={'margin=bottom':'25px'}),
     dbc.Row([
        dbc.Col(html.H1("Hotel Revenue Managment Dashboard"),
                        style={'font-style': 'italic', 'color':'white'} ,
                        width={'size': 28, 'offset': 3},
                        )] , className='mb-5 mt-2'),
         
        
#         dbc.Col([
#              dbc.Card([
#                  dbc.CardImg(src='/assets/hotel_revenue.png')],className='mb-2')])]), 
    
#      dbc.Row([           
#         dbc.Col(html.P("Select Year"),
#                         width={'size': 5, 'offset': 0},
#                         ),
        
#         dbc.Col(html.P("Select Nationality"),
#                         width={'size': 5, 'offset': 0},
#                         ),
#                 ]),        
     
        
        
#     html.Div([
#         html.Div([
#             html.P('Select Year:' , className='fix_label' , style={'color':'black'}),
#             dcc.RangeSlider(id='w_years' ,
#                             min=2015 ,
#                             max=2017 ,
#                             dots=True ,
#                             value=[2015,2016,2017] , 
#                             marks={str(year):str(year) for year in range(2015,2018,1)})
                           
#         ],className='Create_container twelve columns' , style={'width':'98%' , 'margin-left':'1%'}),
        
#     ],className='row flex-display'),
#     dbc.Row([
#         dbc.Col(html.P('Select Year') , width={'size': 6, "offset": 0})]),
    
    
   
   
#     dbc.Col(dcc.Dropdown( #html.P('Select Month:' , className='fix_label' , style={'color':'blue'}),
#     id='w_month', 
#     value='January', 
#     options=[{'value': value, 'label': value} 
#                 for value in month.values()],
#              clearable=False ,
#              optionHeight=25 ,
#              persistence=True ,
#              persistence_type='session',
#              style={'color':'black' , 'background-color': '#4682b4' , 'font-weight': 'bold'}
#     ),width={'size': 2, "offset": 10})]),
    
    dbc.Row([
        dbc.Col([
            dbc.Card([
                dbc.CardHeader(Lottie(options=options, width="30%", height="30%", url=url_reservations)),
                dbc.CardBody([
                     html.H6('Reservations'),
                    html.H2(id='content-connections1', children="0")
                ])
            ]),
        ], width={'size':2 , 'offset': 2}),
        dbc.Col([
            dbc.Card([
                dbc.CardHeader(Lottie(options=options, width="30%", height="30%", url=url_coonections)),
                dbc.CardBody([
                    html.H6('Check Out'),
                    html.H2(id='content-connections', children="0")
                
                ])
            ]),
        ], width={'size':2 , 'offset': 0}),
        dbc.Col([
            dbc.Card([
                dbc.CardHeader(Lottie(options=options, width="30%", height="30%", url=url_canceled)),
                dbc.CardBody([
                    html.H6('Canceled'),
                    html.H2(id='content-connections2', children="0")
                ])
            ]),
        ],width={'size':2 , 'offset': 0}),
        dbc.Col([
            dbc.Card([
                dbc.CardHeader(Lottie(options=options, width="30%", height="30%", url=url_noshow)),
                dbc.CardBody([
                    html.H6('No Show'),
                    html.H2(id='content-connections3', children="0")
                ])
            ]),
        ],width={'size':2 , 'offset': 0})],className='mb-5'),
    
        
#      html.P("Select Year:"),
    
    
#     html.Div([
#         html.Div([
    
#             html.P('Select Nationality:' , className='fix_label' , style={'color':'black'}),
           
    
    
    
         
            
#         ],className='Create_container three columns'),
        
#         html.Div([
#             dcc.Graph(id='bar_line_1',
#                       config={'DisplayModeBar':'hover'}),
            
#         ],className='Create_container six columns'),
        
#          html.Div([
#             dcc.Graph(id='bie',
#                       config={'DisplayModeBar':'hover'}),
            
#         ],className='Create_container three columns'),
        
#     ],className='row flex-display'),
    
#     html.Div([
#         html.Div([
    dbc.Row([
     
    dbc.Col(
            dcc.RadioItems(#html.P('Select Hotel Type:', className='fix_label' , style={'color':'blue'}), 
                    options=[
                            {'label': 'City Hotel', 'value': 'City Hotel'},
                       
                            {'label': 'Resort Hotel','value': 'Resort Hotel'} , 
                        {'label': 'All', 'value': 'All'},
                        
                                    ],
                         persistence=True ,
                         persistence_type='session',                                    
                         id='w_hoteltype' , 
                         value='City Hotel',
                         labelStyle={'display': 'inline-block'}),
                         width={'size': 5, "offset": 4})],className='mb-5 custom_size'),
        
    
    
        dbc.Row([
            
            dbc.Col(dcc.Dropdown(
        id='w_years', 
        value='2015', 
        options=[{'value': x, 'label': x} 
                 for x in ['2015', '2016', '2017']],
        clearable=False ,
        optionHeight=25 ,
        persistence=True ,
        persistence_type='session',
         style={'color':'black' , 'background-color': 'rgb(218,165,27)' , 'font-weight': 'bold'} ,
        #style={'width':'80%'} ,
    ),width={'size': 2, "offset": 2 , 'order':1}),
            
            dbc.Col(dcc.Dropdown( #html.P('Select Month:' , className='fix_label' , style={'color':'blue'}),
    id='w_month', 
    value='January', 
    options=[{'value': value, 'label': value} 
                for value in month.values()],
             clearable=False ,
             optionHeight=25 ,
             persistence=True ,
             persistence_type='session',
             style={'color':'black' , 'background-color': 'rgb(218,165,27)' , 'font-weight': 'bold'}
    ),width={'size': 2, "offset": 0 , 'order':2}),
            
            
            dbc.Col(dcc.Dropdown(id='w_countries',
                         multi=True,
                         clearable=True,
                         disabled=False,
                         style={'display':True , 'background-color': 'rgb(218,165,27)' , 'font-weight': 'bold'}, #'font-style': 'italic' 
                         value=['Portugal'],
                         placeholder='Select Nationality',
                         optionHeight=25,
                         searchable=True ,
                         persistence=True ,
                         persistence_type='session' ,
                         options=[{'label':c , 'value':c}
                                  for c in count_market1['country'].unique()]
                       
                           
),width={'size': 3, "offset":0 , 'order':4  }),
        dbc.Col(dcc.Dropdown( #html.P('Select Month:' , className='fix_label' , style={'color':'blue'}),
        id='w_status', 
        value='Check-Out', 
        options=[{'value': value, 'label': value} 
                    for value in count_market1['reservation_status'].unique()],
                 clearable=False ,
                  persistence=True ,
                  persistence_type='session' ,
                 optionHeight=25 ,
                 style={'color':'black' , 'background-color': 'rgb(218,165,27)' , 'font-weight': 'bold'}
        ),width={'size': 2, "offset":0 , 'order':3 })],className="mb-5 custom-dropdown"),    
     

         
         
    
         
#         ],className='Create_container three columns'),
#         ],className='row flex-display'),    
        
         
        
#          html.Div([
#             dcc.Graph(id='bie'
#                   ),
            
#         ],className='Create_container three columns'),
        

        
    #Create scattermapbox
     dbc.Row([
        dbc.Col(html.H3("Cancellations" , style={'font-size': '25px' , 'text-decoration': 'underline'}),
                        width={'size': 6, 'offset': 1 },
                        ),
        dbc.Col(html.H3("Market Segment" , style={'font-size': '25px' , 'text-decoration': 'underline'}),
                  width={'size':5 , 'offset': 0})
        ]),
#                ),
#         dbc.Row(dbc.Col(html.H3("Cancellations"),
#                         width={'size': 6, 'offset': 2},
#                         ))]) 
         
    
     dbc.Row([
        dbc.Col(dcc.Graph(id='pie-chart', config={'scrollZoom':True , 'doubleClick':'reset',
                                                  'displayModeBar':False , 'watermark':True }) , width=6 , xs={'size':6}),
         
        dbc.Col(dcc.Graph(id='bar' , config={'scrollZoom':True , 'doubleClick':'reset',
                                            'displayModeBar':False , 'watermark':True }) , width=6 , xs={'size':6} )
                    
            
        ]),
    
     dbc.Row([
        dbc.Col(html.H3("Reservations" , style={'font-size': '25px' , 'text-decoration': 'underline'}),
                        width={'size': 6, 'offset': 5 },
                        )]),
    
    dbc.Row([
        dbc.Col(dcc.Graph (id='map' , config={'scrollZoom':True , 'doubleClick':'reset',
                                            'displayModeBar':False , 'watermark':True }), width=8 , lg={'size':12})]),
        dbc.Row([
        dbc.Col(html.H3("Total Revenue" , style={'font-size': '25px' , 'text-decoration': 'underline'}),
                        width={'size': 6, 'offset': 1 },  
                        )]),
        dbc.Row([ 
        dbc.Col(dcc.Graph (id='scatter' , config={'scrollZoom':True , 'doubleClick':'reset',
                                                  'displayModeBar':False , 'watermark':True }))])
        
#     ],className='Create_container four columns'),

        
),id='mainContainer' , style={'display':'flex' , 'flex-direction':'column', 'color':'#000000' }, className='custom_container')





# @app.callback(
#     Output(component_id='the_graph', component_property='figure'),
#     [Input(component_id='w_years', component_property='value')],
# #     [Input(component_id='w_hoteltype', component_property='value')],
#     [Input(component_id='w_countries', component_property='value')]
# )

# def update_graph(w_years,w_countries):
#     dff = a1

#     piechart=px.pie(
#             data_frame=dff,
#             names=my_dropdown,
#             hole=.3,
#             values='Total Cancelations R'
#             )

#     return (piechart)

@app.callback(
    Output('pie-chart', 'figure'), 
    [Input('w_hoteltype', 'value')], 
    [Input('w_years', 'value')],
    [Input('w_month' , 'value')])

def generate_chart(w_hoteltype,w_years , w_month):
#     print(w_hoteltype)
#     print(w_years)
    if w_hoteltype=='All':
        cancelations = a1[(a1['Year'] == int(w_years)) & (a1['Month'] == w_month)]
    else:
        cancelations = a1[(a1['Year'] == int(w_years))  & (a1['hotel'] == w_hoteltype) & (a1['Month'] == w_month)] 


    fig = px.pie(cancelations, values='Total Cancelations R', names='country' ,
                color='country' ,
                color_discrete_map={
                "France": "#0d3172",
                "Portugal": "#5f9ea0",
                "United Kingdom": "#a8a8a8",
                "Germany":"#5f91ec",
                "Spain": "#d1dffa"})
    
    fig.update_layout({
        'plot_bgcolor': 'rgba(0, 0, 0, 0)',
        'paper_bgcolor': 'rgba(0, 0, 0, 0)'
})
               
    return fig

@app.callback(
    Output('bar', 'figure'),
    [Input('w_hoteltype', 'value')],
    [Input('w_countries', 'value')], 
    [Input('w_years', 'value')],
    [Input('w_month' , 'value')],
    [Input('w_status' , 'value')])


def generate_bar_chart(w_hoteltype,w_countries ,w_years , w_month , w_status):
    #a2=a1[(a1['country']==w_countries) & (a1['Year']==int(w_years))]
    print(w_countries)
    if w_hoteltype=='All':
        a2 = count_market1[(count_market1['Year'] == int(w_years)) & (count_market1['country'].isin(w_countries))  & (count_market1['Month'] == w_month) & (count_market1['reservation_status'] == w_status) ]
        #print(a2)
    else:
        a2 = count_market1[(count_market1['Year'] == int(w_years))  & (count_market1['hotel'] == w_hoteltype)  & (count_market1['country'].isin(w_countries))  & (count_market1['Month'] == w_month)& (count_market1['reservation_status'] == w_status)] 
    
#     barchart=px.bar(
#         a2 ,
#         x=a2['market_segment'] , 
#         y=a2['count_market','country'] ,
#         template="plotly_dark",
#         color='market_segment' , 
#         color_discrete_map={
#                 "Complementary": "#0d3172",
#                 "Corporate": "#d1dffa",
#                 "Direct": "#a8a8a8",
#                 "Groups":"#5f91ec",
#                 "Offline TA/TO": "#5f9ea0" ,
#                 "Online TA": "#00D" ,
#                 "Aviation":"#00cccc"})
        
    barchart=px.scatter(a2, x='market_segment', y='count_market' , color='country' , hover_name='hotel' , size='count_market',
                       labels={'market_segment':'Market Segment' , 'count_market':'Quantity of markets'})
    
    barchart.update_layout({
        'plot_bgcolor': 'rgba(0, 0, 0, 0)',
        'paper_bgcolor': 'rgba(0, 0, 0, 0)'})
                
    return barchart
        

@app.callback(
    Output('map', 'figure'),
    [Input('w_hoteltype', 'value')],
    [Input('w_years', 'value')],
    [Input('w_month' , 'value')],
    [Input('w_status' , 'value')])


def generate_map(w_hoteltype, w_years , w_month , w_status):
    
    if w_hoteltype=='All':
        a3 = count_reserv1[(count_reserv1['Year'] == int(w_years))   & (count_reserv1['Month'] == w_month)  & (count_reserv1['reservation_status'] == w_status) ]
        #print(count_reserv1)
    else:
        a3 = count_reserv1[(count_reserv1['Year'] == int(w_years))  & (count_reserv1['hotel'] == w_hoteltype)  & (count_reserv1['Month'] == w_month) & (count_reserv1['reservation_status'] == w_status) ]
        #print(count_reserv1)
    

        
    fig = px.scatter_geo(a3, locations="country", color="country",
                     hover_name="Country", size="count_reserv",
                     
                     projection="natural earth")
    
    fig.update_layout({
        'plot_bgcolor': 'rgba(0, 0, 0, 0)',
        'paper_bgcolor': 'rgba(0, 0, 0, 0)'})
                
    return fig


@app.callback(
    Output('content-connections','children'),
    [Input('w_hoteltype', 'value')], 
    [Input('w_years', 'value')],
    [Input('w_month' , 'value')])

def generate_card_checkout(w_hoteltype ,w_years , w_month):
    #a2=a1[(a1['country']==w_countries) & (a1['Year']==int(w_years))]
    dff_c = checkout.copy()
    
    if w_hoteltype=='All':
        dff_c = dff_c[(dff_c['Year'] == int(w_years))  & (dff_c['Month'] == w_month)]
        conctns_num = len(dff_c)   
    else:
        dff_c = dff_c[(dff_c['Year'] == int(w_years))  & (dff_c['hotel'] == w_hoteltype) & (dff_c['Month'] == w_month)]
        conctns_num = len(dff_c)

        
        
    return conctns_num
        
    
@app.callback(
    Output('content-connections1','children'),
    [Input('w_hoteltype', 'value')], 
    [Input('w_years', 'value')],
    [Input('w_month' , 'value')])

def generate_card_reservations(w_hoteltype ,w_years , w_month):
    #a2=a1[(a1['country']==w_countries) & (a1['Year']==int(w_years))]
    dff_c = reservations.copy()
    
    if w_hoteltype=='All':
        dff_c = dff_c[(dff_c['Year'] == int(w_years))  & (dff_c['Month'] == w_month)]
        conctns_num1 = len(dff_c)   
    else:
        dff_c = dff_c[(dff_c['Year'] == int(w_years))  & (dff_c['hotel'] == w_hoteltype) & (dff_c['Month'] == w_month)]
        conctns_num1 = len(dff_c)

        
        
    return conctns_num1


@app.callback(
    Output('content-connections2','children'),
    [Input('w_hoteltype', 'value')], 
    [Input('w_years', 'value')],
    [Input('w_month' , 'value')])

def generate_card_canceled(w_hoteltype ,w_years , w_month):
    #a2=a1[(a1['country']==w_countries) & (a1['Year']==int(w_years))]
    dff_c = canceled.copy()
    
    if w_hoteltype=='All':
        dff_c = dff_c[(dff_c['Year'] == int(w_years))  & (dff_c['Month'] == w_month)]
        conctns_num2 = len(dff_c) 
    else:
        dff_c = dff_c[(dff_c['Year'] == int(w_years))  & (dff_c['hotel'] == w_hoteltype) & (dff_c['Month'] == w_month)]
        conctns_num2 = len(dff_c)

        
        
    return conctns_num2

@app.callback(
    Output('content-connections3','children'),
    [Input('w_hoteltype', 'value')], 
    [Input('w_years', 'value')],
    [Input('w_month' , 'value')])

def generate_card_canceled(w_hoteltype ,w_years , w_month):
    #a2=a1[(a1['country']==w_countries) & (a1['Year']==int(w_years))]
    dff_c = noshow.copy()
    
    if w_hoteltype=='All':
        dff_c = dff_c[(dff_c['Year'] == int(w_years))  & (dff_c['Month'] == w_month)]
        conctns_num3 = len(dff_c) 
    else:
        dff_c = dff_c[(dff_c['Year'] == int(w_years))  & (dff_c['hotel'] == w_hoteltype) & (dff_c['Month'] == w_month)]
        conctns_num3 = len(dff_c)

        
        
    return conctns_num3

@app.callback(
    Output('scatter', 'figure'), 
    [Input('w_hoteltype', 'value')], 
    [Input('w_years', 'value')],
    [Input('w_month' , 'value')])


def generate_scatter(w_hoteltype,w_years, w_month):
    
    adr1 = adr_new.copy()

    if w_hoteltype=='All':
        adr6 = adr1[(adr1['Year'] == int(w_years))  & (adr1['Month'] == w_month)]
        adr6 = adr6.sort_values('totaladr', ascending=False)

    else:
        adr6 = adr1[(adr1['Year'] == int(w_years))  & (adr1['hotel'] == w_hoteltype)  & (adr1['Month'] == w_month)]
        adr6 = adr6.sort_values('totaladr', ascending=False)
        
    barchart=px.bar(
        adr6 ,
        x='market_segment' , 
        y='totaladr',
#         template="plotly_dark",
        color=adr6['market_segment'] ,
        hover_name=adr6['hotel'],
        color_discrete_map={
                "Complementary": "rgb(166,118,29)",
                "Corporate": "#19D3F3",
                "Direct": "rgb(27,158,119)",
                "Groups":"#5f91ec",
                "Offline TA/TO": "rgb(218,165,27)" ,
                "Online TA": "rgb(47,138,196)" ,
                "Aviation":"rgb(47,138,196)"} , 
        labels={'market_segment':'Market Segment' , 'totaladr':'ADR'})
    
    barchart.update_layout({
        
        'plot_bgcolor': 'rgba(0, 0, 0, 0)',
        'paper_bgcolor': 'rgba(0, 0, 0, 0)'})

    return(barchart)


if __name__ == '__main__':
    app.run_server(debug=True , port=8052)

Dash app running on http://127.0.0.1:8052/

In [50]:
a1

,country,hotel,Year,Month,reservation_status,Total Cancelations R
0,Portugal,City Hotel,2015,October,Canceled,2097
1,Portugal,City Hotel,2015,July,Canceled,1804
2,Portugal,City Hotel,2016,January,Canceled,1252
3,Portugal,City Hotel,2017,January,Canceled,1064
4,Portugal,City Hotel,2016,November,Canceled,1002
...,...,...,...,...,...,...
1264,United Kingdom,Resort Hotel,2015,September,Canceled,1
1271,France,City Hotel,2015,November,Canceled,1
1282,France,City Hotel,2015,October,Canceled,1
1283,Spain,Resort Hotel,2016,January,Canceled,1
1295,France,City Hotel,2015,August,Canceled,1

In [51]:
count_market1

,hotel,Year,market_segment,country,Month,reservation_status,count_market
0,Resort Hotel,2017,Online TA,Zimbabwe,February,Check-Out,1
1,City Hotel,2016,Online TA,Ireland,August,No-Show,1
2,Resort Hotel,2016,Direct,Australia,October,Check-Out,1
3,City Hotel,2016,Online TA,Ireland,September,No-Show,1
4,Resort Hotel,2016,Direct,Australia,August,Check-Out,1
...,...,...,...,...,...,...,...
8188,City Hotel,2016,Offline TA/TO,Portugal,January,Canceled,769
8189,City Hotel,2015,Groups,Portugal,January,Canceled,800
8190,City Hotel,2016,Groups,Portugal,November,Canceled,803
8191,City Hotel,2015,Groups,Portugal,July,Canceled,1170
8192,City Hotel,2015,Groups,Portugal,October,Canceled,1673